<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="./js/signup.js"></script>
    <link rel="stylesheet" type="text/css" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
</head>
<body>
    <div ng-app="signUpModule">
        <div ng-controller="UsersController" class="ng-scope">
            <div ng-show="error" class="alert alert-danger" style="margin-bottom: 3px!important;">
              {{error_message}}
            </div>
            <form class="well ng-pristine ng-valid" name="createUserForm">
                <label>Name</label>
                <input type="text" name="name" ng-model="newuser.name" ng-change="change()" required>
                <span class="alert-danger" ng-show="error_form && createUserForm.name.$invalid">Required</span><br>


                <label>Email</label>
                <input type="email" name="email" ng-model="newuser.email" ng-change="change()" required>
                <span class="alert-danger" ng-show="error_form && createUserForm.email.$error.required">Required</span>
                <span class="alert-danger" ng-show="error_form && createUserForm.email.$error.email">Invalid email</span><br>

                <br/>
                <input type="button" value="Save" ng-click="createUser()" class="btn btn-primary">
                <input type="button" value="Clean" ng-click="clean()" class="btn">
            </form>
            <table class="table table-striped table-bordered" ng-show="users.length > 0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users" class="ng-scope">
                        <td class="ng-binding">{{user.name}}</td>
                        <td class="ng-binding">{{user.email}}</td>
                        <td>
                            <a href="javascript:void(0)" ng-click="deleteUser(user)">delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</body>
</html>